src
.github
tsconfig.json
tsconfig.eslint.json
tslint.json
.prettierrc
tests
coverage
.travis.yml
jest.config.js
setupJest.ts
.git
.mergify.yml
AUTHORS
CODE_OF_CONDUCT.md
CONTRIBUTING.md
.eslintrc
.eslintignore
rollup.config.js
appveyor.yml
